<div class="top_main_container">

  <h1 id="top_main_titie">子育て共有アプリ</h1>
  <h3 id="top_sub_titie">～日々の成長を記録しよう～</h3>

  <div class="top_nav_bar">
    <%= link_to "初めての方はこちら", about_path, class:"btn btn-primary btn-lg", id:"top_nav_list" %>
    <%= link_to "テストログイン", login_path, class:"btn btn-primary btn-lg", id:"top_nav_list" %>
    <%= link_to "ログイン", login_path, class:"btn btn-primary btn-lg", id:"top_nav_list" %>
    <%= link_to "アカウントの新規作成", signup_path, class:"btn btn-primary btn-lg", id:"top_nav_list" %>
  </div>

</div>
