<h2 id="page_title"><%= @child.name %>の成長記録</h2>

<div class="chart-container" style="height:80vh">
<canvas id="myChart"></canvas>
<script>draw_graph();</script>
</div>

<br>
<%= link_to '身体計測の結果を入力する', new_growth_path, class:"btn btn-primary btn-lg" %>
<%= link_to '身体計測の結果を修正する', detail_growth_path(session[:child_id]), class:"btn btn-primary btn-lg" %>
<%= link_to '＜＜子どものページに戻る', child_path(@child) %>
