<div class="container"> <%# ページ全体を囲むコンテナ%>
<div class="col-md-offset-1 col-md-10"> <%# グリッドシステム%>

  <h2 class="text-center">身長・体重</h2>
  <%= link_to '記録の入力', new_growth_path, class:"btn btn-primary btn-lg" %><br>

  <div style="height:60vh">
    <canvas id="myChart"></canvas>
    <script>draw_graph();</script>
  </div>

  <br>
  <%= link_to '記録の修正＞＞', detail_growth_path(session[:child_id]) %>

</div> <%# グリッドシステム%>
</div> <%# ページ全体を囲むコンテナ%>
