<div class="container">
<h2 id="page_title">別の保護者との共有</h2>

<table class="table">
  <tbody>
  <% @children.each do |form| %>
  <tr>
  <td><%= form.name %></td><td><%= link_to 'パスワードを確認',family_path(form) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<%= link_to '前のページに戻る', edit_path %>
<%= link_to '子どもを追加する', new_family_path, class:"btn btn-primary btn-lg" %>
</div>
