<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
    入力した内容に<%= object.errors.count %>個の誤りがあります。
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
