@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import 'font-awesome';

/*ここからトップページの散らばった写真のスタイル*/
  #content1{top:-100px; right:70px; z-index: 10; transform: rotate(-10deg) }
  #content2{top:-30px; left:-30px; z-index: 20; transform: rotate(-20deg)}
  #content3{top:120px; right:-50px; z-index: 40; transform: rotate(20deg)}
  #content4{top:400px; right:30px; z-index: 30; transform: rotate(-40deg) }
  #content5{top:140px; left:10px; z-index: 60; transform: rotate(60deg) }
  #content6{top:150px; left:-350px; z-index: 50; transform: rotate(-75deg)}
  #content7{bottom:-50px; left:160px; z-index: 70; transform: rotate(30deg) }
  @media screen and (min-width: 767px) {
    .photo {width: 40vw;}
  }
  @media screen and (max-width: 766px) {
    .photo {width: 50vw;}
  }
  .photo {
    position:absolute;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    background: #fff;
  }
/*ここまでトップページの散らばった写真のスタイル*/

/*ここからトップページのボタン(class:button, id:top_nav_list, id:easy_login)のスタイル*/
  #top_nav_list{
    position: relative;
    z-index: 100;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  @media screen and (min-width: 767px) {
    #top_nav_list{
      font-size: 22px;
      width: 50%;
    }
  }
  @media screen and (max-width: 766px) {
    #top_nav_list{
      width: 60%;
      font-size: 18px;
    }
  }
  #easy_login{
    position: relative;
    z-index: 100;
    margin-top: 4px;
    margin-bottom: 10px;
    width: 100%;
  }

  .buttons {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: solid 3px #c58668;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    padding: 0.5em 1em;
  }

  .buttons:hover {
    text-decoration: none;
    color: #0056b3;
  }

  .buttons:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
/*ここまでトップページのボタン(class:button, id:top_nav_list, id:easy_login)のスタイル*/


*{
  font-family: 'Concert One', cursive;
  font-family: 'Kosugi Maru', sans-serif;
}

h2{
  font-weight: bold;
}

#header{
  margin: 0;
}

.child_list{
  display: flex;
  justify-content: space-between;
}

.child_button{
  position: relative;
  display: inline-block;
  background: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  border: 1px solid #fe3276;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.child_button::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  z-index: -1;
  content: '';
  width: 100%;
  height: 24px;
  background-color: rgba(0,0,0,.1);
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.child_button:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.child_button:hover::after {
  width: 70%;
  height: 18px;
}

.child_button:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

@media screen and (min-width: 767px) {
  h1{
    font-size: 75px;
    font-weight: bold;
  }
  #top_sub_titie{
    font-size: 30px;
 }
  .top_nav_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .child_button{
    padding: .65em 3em;
  }
}

@media screen and (max-width: 766px) {
  h1{
    font-weight: bold;
  }
  .top_nav_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .child_button{
    padding: .65em 1em;
  }
}

#top_main_titie{
  position: relative;
  z-index: 100;
  padding-top: 100px;
  margin-bottom: 0;
  color: #eee;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  text-shadow: 1px 2px 2px #999999;
}

#top_sub_titie{
  position: relative;
  z-index: 100;
  margin-top: 3px;
  color: #eee;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 2px 1px #999999;
}

#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.top_main_container{

  background: image-url("main_background");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  }

#input_field{
 width: 90%;
}

.body_backrground{
  background: image-url("main_background");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

.top_page_body{
  overflow:hidden;
  background-color: white;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

.login_view{
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
}

.login_title{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  color: #FFA000;
  font-weight: bold;
}

.login_form{
    padding-top: 2%;
    border: solid;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.content{
    width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
}

.text_field{
    border: solid;
    font-weight: bold;
    padding: 20px 20px 15px 15px;
    width: 60%;
    border-radius: 5%;
}

#child_image{
  border: solid;
  border-radius: 50%;
  margin: 20px 20px 15px 15px;
  height: 300px;
  width: 350px;
  text-align: center;
  line-height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: white
}

#static_edit_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#static_edit_list{
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#microposts{
  border: solid;
}

#font_size{
  font-size: 14px;
  word-wrap: break-word;
}

#form_margin{
margin-top: 35px;
margin-bottom: 35px;
}

.growth_select{
  display: flex;
}

#growth_button{
  margin: 5px;
}
