@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import 'font-awesome';

*{
  font-family: 'Concert One', cursive;
  font-family: 'Kosugi Maru', sans-serif;
}

h1, h5, .child_age{
  font-weight: bold;
}

h2{
  font-weight: bold;
  margin-top: 10px;
}

  .test{
    /*ここからアルバムのタブ*/
    background-color: gray;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    color: white
  }
/*ここまでアルバムのタブ*/

.pyonpyon span {
    animation: pyon 0.3s linear;
    position: relative;
}

@keyframes pyon {
    0% {top: 0}
    50% {top:-30px}
    100%{top: 0}
}


/*ここからトップページのタイトル・サブタイトル*/
  @media screen and (min-width: 767px) {
    h1{
      font-size: 75px;
    }
    #top_sub_titie{
      font-size: 30px;
   }
  }

  #top_main_titie, #top_sub_titie{
    position: relative;
    z-index: 100;
    color: #eee;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 2px 2px #999999;
  }

  #top_main_titie{
    padding-top: 100px;
    margin-bottom: 0;
    margin-top: 0;
  }

  #top_sub_titie{
    margin-top: 3px;
  }
/*ここまでトップページのタイトル・サブタイトル*/


/*ここからトップページの散らばった写真のスタイル*/
  #content1{top:-100px; right:70px; z-index: 10; transform: rotate(-10deg) }
  #content2{top:-30px; left:-30px; z-index: 20; transform: rotate(-20deg)}
  #content3{top:120px; right:-50px; z-index: 40; transform: rotate(20deg)}
  #content4{top:400px; right:30px; z-index: 30; transform: rotate(-40deg) }
  #content5{top:140px; left:10px; z-index: 60; transform: rotate(60deg) }
  #content6{top:150px; left:-350px; z-index: 50; transform: rotate(-75deg)}
  #content7{bottom:-50px; left:160px; z-index: 70; transform: rotate(30deg) }
  @media screen and (min-width: 767px) {
    .photo {width: 40vw;}
  }
  @media screen and (max-width: 766px) {
    .photo {width: 50vw;}
  }
  .photo {
    position:absolute;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    background: #fff;
  }
/*ここまでトップページの散らばった写真のスタイル*/

/*ここからトップページのボタン(class:button, id:top_nav_list, id:easy_login)のスタイル*/
  .top_nav_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #top_nav_list{
    position: relative;
    z-index: 100;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  @media screen and (min-width: 767px) {
    #top_nav_list{
      font-size: 22px;
      width: 50%;
    }
  }
  @media screen and (max-width: 766px) {
    #top_nav_list{
      width: 60%;
      font-size: 18px;
    }
  }
  #easy_login{
    position: relative;
    z-index: 100;
    margin-top: 4px;
    margin-bottom: 10px;
    width: 100%;
  }

  .button {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    border-top: 0;
    color: #ffffff;
    border-right: 0;
    border-left: 0;
    border-bottom: solid 3px #c58668;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    padding: 0.5em 1em;
  }

  .button:hover {
    text-decoration: none;
    color: #ffffff;
  }

  .button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
/*ここまでトップページのボタン(class:button, id:top_nav_list, id:easy_login)のスタイル*/

/*ここから子どもページのボタンのスタイル*/
  .child_list{
    display: flex;
    justify-content: space-between;
  }

  .child_button_set{
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .child_button {
    box-shadow: 5px 10px 20px #9E9E9E;
    line-height: 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: .65em .65em;
    background: -webkit-linear-gradient(#FFC107 , #ff8b5f);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    border: 1px solid #ff8b5f;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .child_button:hover {
    -webkit-animation: bounce 2s ease-in-out;
    animation: bounce 2s ease-in-out;
  }
  @-webkit-keyframes bounce {
    5%  { -webkit-transform: scale(1.1, .8); }
    10% { -webkit-transform: scale(.8, 1.1) translateY(-5px); }
    15% { -webkit-transform: scale(1, 1); }
  }
  @keyframes bounce {
    5%  { transform: scale(1.1, .8); }
    10% { transform: scale(.8, 1.1) translateY(-5px); }
    15% { transform: scale(1, 1); }
  }
/*ここまで子どもページのボタンのスタイル*/

/*ここからヘッダーのスタイル*/
  .ribbon-wrapper {
    top: 10px;
    left: 20px;
    display: inline-block;
    padding-right: 45px;
    padding-left: 50px;
  }

  .ribbon-right,.ribbon-left {
    display: inline-block;
    position: absolute;
    top: -6px;
    margin: 0;
    padding: 10px 0;
    z-index: 2;
    width: 40px;
    text-align: center;
    color: white;
    font-size: 17px;
    background: linear-gradient(#ff785b 0%, #e95738 100%);
    border-radius: 2px 0 0 0;
  }

  .ribbon-right {
    right: 10px;
  }

  .ribbon-left {
    left: 10px;
  }

  .ribbon-right:before,.ribbon-left:before {
    position: absolute;
    content: '';
    top: 0;
    right: -6px;
    border: none;
    border-bottom: solid 6px #cf4a2d;
    border-right: solid 6px transparent;
  }
  .ribbon-right:after,.ribbon-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 20px solid #e95738;
    border-right: 20px solid #e95738;
    border-bottom: 10px solid transparent;
  }
/*ここまでヘッダーのスタイル*/

#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

.top_main_container{

  background: image-url("main_background");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  }

#input_field{
 width: 90%;
}

.body_backrground{
  background: image-url("main_background");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

.top_page_body{
  overflow:hidden;
  background-color: white;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

.login_view{
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
}

.login_title{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  color: #FFA000;
  font-weight: bold;
}

.login_form{
    padding-top: 2%;
    border: solid;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.content{
    width: 80%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
}

.text_field{
    border: solid;
    font-weight: bold;
    padding: 20px 20px 15px 15px;
    width: 60%;
    border-radius: 5%;
}

#child_non_img{
  border: solid;
  border-radius: 50%;
  margin: 20px 20px 15px 15px;
  height: 300px;
  width: 350px;
  text-align: center;
  line-height: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 5px 10px 20px #9E9E9E;
}

#child_img{
  box-shadow: 5px 10px 20px #9E9E9E;
}

#static_edit_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#static_edit_list{
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#microposts{
  border: solid;
}

#font_size{
  font-size: 14px;
  word-wrap: break-word;
}

#form_margin{
margin-top: 35px;
margin-bottom: 35px;
}

.growth_select{
  display: flex;
}

#growth_button{
  margin: 5px;
}

#map{
  height: 400px;
}
